.main {
  max-width: 500px;
  margin: 20px auto;
}

ul {
  text-decoration: none;
  list-style-type: none;
  padding: 0;
}

ul li {
  margin: 10px 0;
}

.complete {
  color: red;
  text-decoration: line-through;
}

.none {
  color: green;
}

.delete-button {
  background-color: blueviolet;
  color: white;
  padding: 3px;
}

.delete-button:hover {
  cursor: pointer;
}

.form-div {
  text-align: center;
}

.form-div input {
  width: 250px;
}
